auto.create.topics.enable=false
delete.topic.enable=true
group.initial.rebalance.delay.ms=0
log.dirs={{ kafka_data_directory }}
log.retention.check.interval.ms=300000
log.retention.hours=168
log.segment.bytes=1073741824
num.io.threads=8
num.network.threads=3
num.partitions=1
num.recovery.threads.per.data.dir=2
offsets.topic.replication.factor={{ kafka_replication_factor }}
share.coordinator.state.topic.min.isr={{ kafka_min_insync_replicas }}
share.coordinator.state.topic.replication.factor={{ kafka_replication_factor }}
socket.receive.buffer.bytes=102400
socket.request.max.bytes=104857600
socket.send.buffer.bytes=102400
transaction.state.log.min.isr={{ kafka_min_insync_replicas }}
transaction.state.log.replication.factor={{ kafka_replication_factor }}
